<%= link_to 'orders', orders_path %>

<div class="pagination-numbers" style="margin-bottom: 1rem;">
  <%= pagy_nav(@pagy).html_safe %>
</div>
<div class="columns is-12 is-multiline is-flex">
  <% @hotels.each do |hotel| %>
    <div class="column is-2 p-3">
      <div class="card has-text-centered" style="height: 290px;">
        <% if hotel.profile_picture.attached? %>
          <div class="navbar-avatar user-avatar" style="background-image: url('<%= axb_blob_path(hotel.profile_picture) %>');background-size: cover;"></div>
        <% end %>
        <a href="/hotels/<%= hotel.id %>/dishes"><h1 style="margin: 3px;font-size: 25px;"><%= hotel.name %></h1></a>
        <h3 style="margin: 1px;"><%= hotel.location %></h3>
        <div class="is-flex is-justify-content-space-between">
          <div class="has-text-centered">
            <h4 style="margin: 0px;">Dining Rating</h4>
            <%= hotel.dining_rating %>
          </div>
          <div class="has-text-centered">
            <h4 style="margin: 0px;">Delivery Rating</h4>
            <%= hotel.delivery_rating %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="pagination-numbers" style="margin-bottom: 1rem;">
  <%= pagy_nav(@pagy).html_safe %>
</div>
