<!DOCTYPE html>
<html>
<head>
  <style>
      #order {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      #order td, #order th {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: center;
      }

      #order tr:nth-child(even) {
          background-color: #f2f2f2;
      }

      #order tr:hover {
          background-color: #ddd;
      }

      #order th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: center;
          background-color: #a3a3a3;
          color: white;
      }
  </style>
</head>
<body>
<%= link_to "Home", "/home" %>
<h1 style="text-align: center;margin:5px 0px;">My orders</h1>
<table id="order">
  <tr>
    <th> Date of order</th>
    <th>Restaurant</th>
    <th>Order value</th>
  </tr>
  <% @orders.each do |t| %>
    <tr>
      <td><%= t.created_at.to_date %></td>
      <td> <%= t.hotel.name %></td>
      <td><%= t.total %></td>
    </tr>
  <% end %>
</table>
</body>
</html>