<h3>Search results</h3>
<%= link_to "back", root_path %>
<% @hotels.each do |result| %>
  <div style="width:32%;float:left;">
    <a href="/hotels/<%= result.id %>/dishes"><h1 style="margin: 3px;font-size: 25px;"><%= result.name %></h1></a>
    <h3 style="margin: 1px;"><%= result.location %></h3>
    <div style="float:left;width: 50%; ">
      <div style="width:50%;float:left;">
        <h4 style="margin: 0px;">Dining Rating</h4>
        <%= result.dining_rating %>
      </div>
      <div style="width: 50%;float:right;">
        <h4 style="margin: 0px;">Delivery Rating</h4>
        <%= result.delivery_rating %>
      </div>
    </div>
  </div>
<% end %>
