<%= link_to "Home", "/home" %>
<%= form_with url: "/hotels/#{@hotel.id}/orders", method: :post do |f| %>
  <div style="background: #a3a3a3;width: 25%;padding: 0px 6px 10px 6px;">
<table>
  <h2 style="text-decoration: underline;"><%=@hotel.name%></h2>
  <tr>
    <th> Item</th>
    <th>Price</th>
  </tr>
  <% @dishes.each do |dish| %>
    <tr>
      <td><%= dish.name %></td>
      <td><%= dish.price %></td>
    </tr>
    <%=f.hidden_field 'dish_ids[]', value:dish.id %>
  <% end %>
</table>
  <p>Total:<%= @dishes.sum(:price) %></p>
  <%=f.hidden_field 'total',value:@dishes.sum(:price)%>
  <label for="Name"> Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="contact">Contact:</label><br>
  <input type="text" id="contact" name="contact"><br><br>
  <input type="submit" value="confirm order">
<% end %>
</div>





<%#= order  do |f| %>
<%# @dishes.each do |lkas| %>
<%#=f.hidden_field 'dish_ids[]', value: lkas.id %>
<%# end %>