<%= link_to "Home", "/home" %>
<div style="background: #a3a3a3;width: 25%;padding: 0px 6px 10px 6px;">
<h1 style="margin: 0px;"><%= @hotel.name %></h1>
<h2 style="margin: 0px;"><%= @hotel.location %></h2>
<p style="margin: 0px;"><%= @hotel.dining_rating %></p>
<h3 style="margin: 0px 36px;">Our Menu</h3>
<%= form_with url: "/hotels/#{@hotel.id}/summary", method: :get do |f| %>
  <table>
    <tr>
      <th> Item</th>
      <th>Price</th>
    </tr>
    <% @dishes.each do |dish| %>
      <tr>
        <td>
          <%= check_box_tag('ids[]',"#{dish.id}") %>
          <%= label_tag(:name, "#{dish.name}") %>
          </td>
        <td><%= dish.price %></td>
      </tr>
    <% end %>
  </table>
  <%= f.submit "Confirm selection" %>
<% end %>
</div>


