
<%= link_to "Home", "/home" %>
<h1>your order has been placed!</h1>
<table>
  <h2 style="margin: 0px 0px 10px 0px;"><%= @hotel.name %></h2>
  <h3 style="margin: 0px;"><%= @hotel.location %></h3>
  <tr>
    <th> Item</th>
    <th>Price</th>
    <th>Date of order</th>
  </tr>
  <% @dishes.each do |dish| %>
    <tr>
      <td><%= dish.name %></td>
      <td><%= dish.price %></td>
      <td><%= Date.today.to_s %></td>
    </tr>
  <% end %>
</table>
<p>Amount paid:<%= @dishes.sum(:price) %></p>
