<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div style="background-color:lightpink;width:100%;">
  <form action="/search">
    <input type="text" name="search" placeholder="search">
    <button type="submit">search</button>
  </form>

</div>
<% if notice %> <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %> <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="card" style="height: 90vh;">
  <%= yield %>
</div>
</body>
</html>
